.about {
  margin: 0 auto;
}
@media (max-width: 767px) {
  .about {
    margin-bottom: 50px;
  }
}
@media (min-width: 768px) {
  .about {
    margin-bottom: 50px;
  }
}
@media (max-width: 1279px) {
  .about {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (min-width: 1280px) {
  .about {
    margin-bottom: 100px;
  }
}

.about__title {
  margin-bottom: 40px;
}
@media (max-width: 479px) {
  .about__title {
    width: 110px;
    margin: 0 auto;
    margin-bottom: 40px;
  }
}

.about__text {
  font-size: 2rem;
  line-height: 1;
}
@media (max-width: 479px) {
  .about__text {
    width: 280px;
    height: 250px;
    overflow-y: scroll;
  }
}
@media (min-width: 480px) {
  .about__text {
    width: 400px;
    height: 350px;
    overflow-y: scroll;
  }
}
@media (min-width: 768px) {
  .about__text {
    width: 700px;
    height: auto;
    overflow-y: visible;
  }
}
@media (min-width: 1280px) {
  .about__text {
    width: 1040px;
  }
}

.arrangement {
  margin: 0 auto;
}
@media (max-width: 1279px) {
  .arrangement {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.arrangement__title {
  width: 950px;
  font-size: 4rem;
  text-align: start;
  margin-bottom: 10px;
}
@media (max-width: 479px) {
  .arrangement__title {
    width: 280px;
    font-size: 3rem;
  }
}
@media (min-width: 480px) {
  .arrangement__title {
    width: 400px;
    font-size: 3rem;
  }
}
@media (min-width: 768px) {
  .arrangement__title {
    width: 700px;
  }
}

.arrangement__button {
  padding: 10px;
  background-color: black;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.arrangement__button:hover {
  background-color: #444;
  transform: scale(1.1);
  cursor: pointer;
}

.footer {
  width: 100%;
  overflow: hidden;
}
@media (min-width: 480px) {
  .footer {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
@media (min-width: 768px) {
  .footer {
    height: auto;
  }
}

.footer-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}
@media (max-width: 479px) {
  .footer-container {
    max-width: 320px;
    flex-direction: column;
    padding: 70px 0px 20px;
    text-align: center;
  }
}
@media (min-width: 480px) {
  .footer-container {
    max-width: 480px;
    flex-direction: column;
    text-align: center;
  }
}
@media (min-width: 768px) {
  .footer-container {
    max-width: 768px;
    flex-direction: row;
    padding: 0px 0px 0px 20px;
  }
}
@media (min-width: 1280px) {
  .footer-container {
    max-width: 100%;
    padding: 50px 100px 0px;
  }
}
@media (min-width: 1660px) {
  .footer-container {
    max-width: none;
  }
}

.footer__title {
  bottom: 23px;
}
@media (max-width: 479px) {
  .footer__title {
    width: 100px;
    position: static;
    margin: 0 auto;
  }
}
@media (min-width: 480px) {
  .footer__title {
    width: 100px;
    position: static;
    margin: 0 auto;
    margin-bottom: 40px;
  }
}
@media (min-width: 768px) {
  .footer__title {
    position: absolute;
    left: 30px;
    margin-bottom: 0px;
  }
}
@media (min-width: 1280px) {
  .footer__title {
    position: absolute;
    left: 100px;
  }
}

.footer-container__list {
  width: 350px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 479px) {
  .footer-container__list {
    width: 320px;
    flex-direction: column;
    margin-bottom: 30px;
  }
}
@media (min-width: 480px) {
  .footer-container__list {
    margin-bottom: 30px;
  }
}
@media (min-width: 768px) {
  .footer-container__list {
    flex-direction: row;
    width: 200px;
    margin-left: 130px;
    margin-bottom: 0px;
  }
}
@media (min-width: 1280px) {
  .footer-container__list {
    margin-left: 250px;
  }
}

.footer-container__link {
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.footer-container__item:hover {
  background-color: #444;
  transform: scale(1.1);
  cursor: pointer;
}

body {
  position: relative;
  background-color: rgb(21, 21, 21);
  padding-top: 100px;
  overflow-x: hidden;
}

.gradient,
.gradient--footer {
  width: 100%;
  position: absolute;
  opacity: 0.3;
  filter: blur(40px);
  background: radial-gradient(circle, #f86bdf 0, rgba(107, 107, 248, 0.8) 100%);
}
.gradient.gradient,
.gradient--footer.gradient {
  height: 100px;
  top: 0;
  left: 0;
}
.gradient.gradient--footer,
.gradient--footer.gradient--footer {
  bottom: 0;
  left: 0;
}
@media (max-width: 479px) {
  .gradient.gradient--footer,
  .gradient--footer.gradient--footer {
    height: 305px;
  }
}
@media (min-width: 480px) {
  .gradient.gradient--footer,
  .gradient--footer.gradient--footer {
    height: 200px;
  }
}
@media (min-width: 768px) {
  .gradient.gradient--footer,
  .gradient--footer.gradient--footer {
    height: 100px;
  }
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  overflow: hidden;
}
.header-container {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}
@media (max-width: 479px) {
  .header-container {
    max-width: 280px;
  }
}
@media (min-width: 480px) {
  .header-container {
    max-width: 400px;
    padding: 0 40px;
  }
}
@media (min-width: 768px) {
  .header-container {
    max-width: 768px;
    padding: 0 30px;
  }
}
@media (min-width: 1280px) {
  .header-container {
    max-width: 100%;
    padding: 0 100px;
    margin: 0;
  }
}
@media (min-width: 1660px) {
  .header-container {
    max-width: none;
  }
}
.header-container__title {
  font-size: 2rem;
  font-weight: bold;
  background: linear-gradient(90deg, #6a0dad, #d580ff, #6a0dad);
  background-size: 200%;
  background-clip: text;
  transition: 0.3s ease;
}
.header-container__title:hover {
  cursor: pointer;
  color: transparent;
  animation: shine 2s linear infinite;
}
.header-container__div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 479px) {
  .header-container__div {
    width: 90px;
  }
}
@media (min-width: 480px) {
  .header-container__div {
    width: 100px;
  }
}
@media (min-width: 768px) {
  .header-container__div {
    width: 450px;
  }
}
.header-container__list {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .header-container__list {
    display: none;
  }
}
.header-container__item, .header-container__button,
.header-container #btn-en {
  transition: transform 0.3s ease, background-color 0.3s ease;
}
.header-container__item:hover, .header-container__button:hover,
.header-container #btn-en:hover {
  background-color: #444;
  transform: scale(1.1);
  cursor: pointer;
}
@media (max-width: 374px) {
  .header-container__button {
    margin-left: -30px;
  }
}

@keyframes shine {
  0% {
    background-position: 0% center;
  }
  100% {
    background-position: 200% center;
  }
}
@media (max-width: 479px) {
  .main {
    max-width: 320px;
    margin: 0 auto;
    margin-bottom: 100px;
  }
}
@media (min-width: 480px) {
  .main {
    max-width: 480px;
    margin: 0 auto;
    margin-bottom: 50px;
  }
}
@media (min-width: 768px) {
  .main {
    max-width: 768px;
    margin: 0 auto;
    margin-bottom: 50px;
  }
}
@media (min-width: 1280px) {
  .main {
    max-width: 1280px;
    margin: 0px 0px 100px 100px;
  }
}
@media (min-width: 1660px) {
  .main {
    max-width: 1660px;
  }
}

.hero {
  margin-bottom: 100px;
  margin: 0 auto;
  margin-bottom: 100px;
}
@media (max-width: 479px) {
  .hero {
    margin-bottom: 50px;
  }
}
@media (max-width: 1279px) {
  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.hero__title--greeting {
  width: 100%;
  line-height: 1;
  font-size: 6rem;
}
@media (max-width: 479px) {
  .hero__title--greeting {
    max-width: 320px;
    font-size: 3rem;
    text-align: center;
  }
}
@media (max-width: 767px) {
  .hero__title--greeting {
    text-align: center;
    font-size: 3rem;
  }
}
@media (min-width: 768px) {
  .hero__title--greeting {
    font-size: 3rem;
    max-width: 700px;
  }
}
@media (min-width: 1600px) {
  .hero__title--greeting {
    max-width: 1000px;
    font-size: 5rem;
  }
}
.hero__title {
  width: 100%;
  line-height: 1;
  margin-bottom: 40px;
}
@media (max-width: 479px) {
  .hero__title {
    max-width: 320px;
    font-size: 2.5rem;
    text-align: center;
  }
}
@media (min-width: 480px) {
  .hero__title {
    max-width: 480px;
    font-size: 3.8rem;
    text-align: center;
  }
}
@media (min-width: 768px) {
  .hero__title {
    max-width: 700px;
    font-size: 3rem;
    text-align: left;
  }
}
@media (min-width: 1280px) {
  .hero__title {
    max-width: 1280px;
  }
}
@media (min-width: 1600px) {
  .hero__title {
    max-width: 1000px;
    font-size: 5rem;
  }
}
.hero__list {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 479px) {
  .hero__list {
    width: 270px;
    justify-content: center;
  }
}
.hero__item {
  transition: transform 0.3s ease, background-color 0.3s ease;
}
.hero__item:hover {
  background-color: #444;
  transform: scale(1.1);
  cursor: pointer;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.is-hidden {
  display: none;
}

.modal {
  width: 500px;
  height: 350px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #34313b;
  border-radius: 2%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.modal__title {
  margin-bottom: 30px;
}
.modal__text {
  margin-bottom: 20px;
}
.modal__text:nth-of-type(2) {
  margin-bottom: 50px;
}
.modal__link {
  background: linear-gradient(90deg, #6a0dad, #d580ff, #6a0dad);
  background-size: 200%;
  background-clip: text;
  transition: 0.3s ease;
}
.modal__link:hover {
  color: transparent;
  animation: shine 2s linear infinite;
}

.btnclose {
  position: absolute;
  top: 5%;
  right: 5%;
}

.projects {
  margin-bottom: 100px;
}
@media (max-width: 479px) {
  .projects {
    margin-bottom: 50px;
  }
}
@media (max-width: 1279px) {
  .projects {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.projects__title {
  margin-bottom: 40px;
}
@media (max-width: 479px) {
  .projects__title {
    width: 90px;
    margin: 0 auto;
    margin-bottom: 40px;
  }
}

.projects__list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 0 20px;
  box-sizing: border-box;
}
@media (max-width: 767px) {
  .projects__list {
    height: 325px;
    align-items: center;
  }
}
@media (min-width: 768px) {
  .projects__list {
    width: 700px;
    flex-direction: row;
    justify-content: center;
  }
}
@media (min-width: 1280px) {
  .projects__list {
    width: 1000px;
    justify-content: flex-start;
    padding: 0px;
  }
}

.projects__item {
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.projects__item:hover {
  background-color: #444;
  transform: scale(1.1);
  cursor: pointer;
}/*# sourceMappingURL=main.css.map */